.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 5px 10px;
    border-radius: 5px;
    
    background-color: #FFFFFF;

    &.tab--active {
        color: white;
        background-color: green;
    }

    &.tab--disabled {
        color: rgb(216, 216, 216);
        background-color: gray;
    }
}